<div>
    <h1>Ajouter une avis</h1>
    <form (ngSubmit)="saveAvis()">
        <table>
            <tr>
                <td>Titre</td>
                <td><input type="text" [(ngModel)]="advice.titre" name="titre"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" [(ngModel)]="advice.description" name="description"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Titre</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let a of advices">
            <td>{{a.titre}}</td>
            <td>{{a.description}}</td>
            <td><button (click)="deleteAvis(a.id)">Delete</button></td>
        </tr>
    </table>
</div>